<div class='container'>

  <div class='d-flex flex-row column-gap-3 layout pt-5'>
      <div class='water-border w-100 h-100'>
        <%= image_tag "profilepic.jpeg", alt: "Profile Picture of Shawn Lim", class: "img-fluid" %>
      </div>
    <div class="ms-5 text-center text">
      <h1 class='pri-font orange-text display-1'>Hello I'm Shawn Lim</h1>
      <p class='white-text sec-font'>Passionate about technology and aspiring to become a full-stack web developer,
      I have a strong marketing background and hands-on experience managing social media platforms and
      online marketing tools. With a focus on transitioning into a junior developer role, I am a quick learner,
      adaptable, and always eager to tackle new challenges. </p>
    </div>
  </div>

  <div class='orange mt-5 mb-5 rounded-3 pb-5'>
    <h1 class='text-center pt-3 pri-font white-text display-3'>Tech Skills</h1>

    <div class="grid">
      <div class='px-3'>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Ruby</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Ruby on Rails</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>HTML/CSS</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Javascript</p>
        </div>
      </div>

      <div class='px-3'>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Bootstrap</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>PostgreSQL</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>SQL</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Stimulus JS</p>
        </div>
      </div>

      <div class='px-3'>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Ajax</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Git</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Terminal</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Heroku</p>
        </div>
      </div>

      <div class='px-3'>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Cloudinary</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Mapbox</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Devise</p>
        </div>
        <div class='d-flex flex-row column-gap-2 align-items-center'>
          <i class="fa-solid fa-arrows-to-dot fa-lg white-text"></i>
          <p class='mb-0 sec-font white-text-bold fontsize-tech'>Figma</p>
        </div>
      </div>

    </div>

  </div>

  <div class='orange rounded-3 pb-5 rela'>
    <h1 class='text-center pt-3 pri-font white-text display-3'>Projects</h1>
    <div class='d-flex flex-row mx-5 column-gap-5 nomore'>

      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item carousel-size active">
            <%= image_tag "Spartner400.png", alt: "Spartner Image", class: "d-block w-100 carousel-img-size" %>
          </div>
          <div class="carousel-item carousel-size">
            <%= image_tag "Spartnerm400.png", alt: "Spartner Image", class: "d-block w-100 carousel-img-size" %>
          </div>
          <div class="carousel-item carousel-size">
            <%= video_tag "Happyflow.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class='d-flex flex-column rela me-5'>
        <div class='pri-font white-text display-5 mt-3'>Spartner</div>
        <div class='sec-font white-text nomore2'>Spartner is an exciting new mobile first web application that utilises the power of tech to revolutionise the way
        users find sparring partners for martial arts & combat sports.</div>
        <div class="d-flex flex-row gap-0 column-gap-3 abso">
          <%= link_to "Live Demo", "https://spartnership-06fa8179b1f2.herokuapp.com/", target: "_blank", class: "btn btn-lg btn-light pri-font" %>
          <%= link_to "GitHub", "https://github.com/ShiJieCodes/spartner", target: "_blank", class: "btn btn-lg btn-light pri-font" %>
        </div>
      </div>

    </div>
  </div>

</div>
